@use "../helpers" as *;

:root {
	// COLORS
	--color-main: #242328;
	--color-white: #F5F5F5;
	--color-accent: #18A9E1;
	--color-gold: #C69A4C;

	// FONTS
	--font-primary: "Manrope";
	--font-secondary: "BebasNeueCyrillic";

	// LAYOUT
	--section-border-radius: 40px;

	@include tablet-sm {
		--section-border-radius: 20px;
	}
}
