@use "../helpers" as *;

.card-a {
	display: flex;
	padding: 5px;
	background-color: #F0F0F0;
	border-radius: 10px;
	@include mob {
		flex-wrap: wrap;
	}

	&__scheme {
		flex-shrink: 0;
		width: 200px;
		height: 100%;
		padding: 5px;
		background-color: #fff;
		border-radius: inherit;
		@include from(769px) {
			min-height: 200px;
		}
		@include tablet-sm {
			width: 150px;
		}
		@include mob {
			flex: 1 0 50%;
			height: auto;
		}
	}

	&__s-img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: scale-down;
	}

	&__body {
		display: grid;
		gap: 10px;
		align-content: space-between;
		width: 100%;
		padding: 20px 25px;
		@include mob {
			order: -1;
			padding-inline: 15px;
		}
	}

	&__title {
		font-size: 24px;
		font-family: var(--font-secondary), sans-serif;
		text-decoration: none;
		transition: color 0.3s ease-in-out;
		@include hover {
			color: var(--color-accent);
		}
	}

	&__caption {
		font-size: 14px;
	}

	&__slider {
		--swiper-pagination-bullet-size: 5px;
		--swiper-pagination-bullet-horizontal-gap: 3px;
		--swiper-pagination-bullet-inactive-opacity: 1;
		--swiper-pagination-bullet-inactive-color: var(--color-main);
		flex-shrink: 0;
		align-self: center;
		width: 150px;
		@include mob {
			flex: 1 0 50%;
		}
	}

	.swiper-pagination-bullet-active {
		--swiper-pagination-bullet-size: 9px;
		margin-bottom: -2px !important;
	}

	&__g-img {
		display: block;
		@include mob {
			margin-inline: auto;
		}
	}
}
