@use "../helpers" as *;

.card-d {
	padding: 50px 30px 30px;
	color: var(--color-main);
	background-color: #F0F0F0;
	border-radius: 10px;
	@include mob {
		padding: 30px 15px;
	}

	&__figure {
		position: relative;
		margin-bottom: 45px;
	}

	&__img {
		display: block;
		max-width: 50%;
		margin-left: auto;
	}

	&__caption {
		position: absolute;
		bottom: -40px;
		left: 0;
		max-width: 290px;
		padding: 10px 20px;
		font-size: 14px;
		background-color: #fff;
		border-radius: 10px;
	}

	&__name {
		font-size: 78px;
		font-family: var(--font-secondary), sans-serif;
		line-height: 1;
		text-decoration: none;
		transition: color 0.3s ease-in-out;
		@include laptop {
			font-size: 60px;
		}
		@include laptop-sm {
			font-size: 52px;
		}
		@include tablet {
			font-size: 42px;
		}

		&:is(a) {
			@include hover {
				color: var(--color-accent);
			}
		}

		span {
			color: var(--color-gold);
		}
	}

	&__text {
		margin-top: 20px;
		@include from(1025px) {
			font-size: 20px;
		}
	}
}
