@use "../helpers" as *;

.post-card {
	box-sizing: border-box;
	max-width: 100%;
	padding: 4px;
	background-color: #fff;
	border-radius: 10px;

	&:is(.swiper-slide) {
		width: 348px;
	}

	&__img {
		display: block;
		width: 100%;
		object-fit: cover;
		border-radius: inherit;
		@include mob {
			max-height: 70vw;
		}
	}

	&__body {
		padding: 25px 10px 35px 40px;
		@include to(380px) {
			padding: 25px 10px 30px;
		}
	}

	&__title {
		position: relative;
		font-size: 24px;
		font-family: var(--font-secondary), sans-serif;
		line-height: 1;

		&::before {
			@include from(381px) {
				position: absolute;
				top: 6px;
				left: -28px;
				display: block;
				width: 9px;
				height: 9px;
				background-color: var(--color-gold);
				border-radius: 100%;
				content: "";
			}
		}
	}

	&__text {
		margin-top: 10px;
		color: #7D7D7D;
		font-size: 14px;
	}

	&__btn {
		display: grid;
		place-content: center;
		width: 100%;
		height: 55px;
		font-size: 14px;
		font-family: var(--font-secondary), sans-serif;
		text-decoration: none;
		background-color: var(--color-white);
		border-radius: inherit;
		transition: all 0.3s ease-in-out;
		@include hover {
			color: #fff;
			background-color: var(--color-accent);
		}
	}
}
