@use "../helpers" as *;

.prod-cat-card {
	display: grid;
	gap: 10px;
	padding: 25px 20px;
	text-decoration: none;
	background-color: #F0F0F0;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
	counter-increment: prod-cat;
	@include from(769px) {
		font-size: 20px;
	}
	@include hover {
		color: var(--color-white);
		background-color: var(--color-main);
	}

	&::before {
		content: "/" counter(prod-cat, decimal-leading-zero);
	}

	&__img {
		display: block;
		margin-inline: auto;
	}

	&__name {

		span {
			color: var(--color-accent);
		}
	}
}
