@use "../helpers" as *;

.prod-card {
	display: grid;
	gap: 30px;
	box-sizing: border-box;
	width: 340px;
	max-width: 100%;
	height: auto;
	padding: 20px 10px 10px;
	color: var(--color-white);
	background-color: var(--color-main);
	border-radius: 10px;
	transition: background-color 0.3s ease-in-out;
	@include hover {
		background-color: #22314B;
	}

	&__header {
		display: flex;
		gap: 15px;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__title {
		font-size: 24px;
		font-family: var(--font-secondary), sans-serif;
	}

	&__caption {
		margin-top: 8px;
		color: #9E9E9E;
		font-size: 14px;
		line-height: 1;
	}

	&__promo {
		display: grid;
		gap: 5px;
	}

	&__badge {
		padding: 6px 10px;
		font-weight: 700;
		font-size: 12px;
		background-color: var(--color-accent);
		border-radius: 7px;
	}

	&__discount {
		margin-left: auto;
		color: var(--color-accent);
		font-size: 24px;
		font-family: var(--font-secondary), sans-serif;
	}

	&__img {
		display: block;
		height: 230px;
		object-fit: scale-down;
		margin-inline: auto;
	}

	&__btn {
		margin-top: auto;
	}
}
