@use "../helpers" as *;

.articles {
	overflow: hidden;
	background-image: linear-gradient(120deg, #fff 0%, #b1e7ff 100%);
	border-radius: var(--section-border-radius);
	margin-block: 10px;
	padding-block: 80px;
	@include tablet-sm {
		padding-block: 60px;
	}
	@include mob {
		padding-block: 30px;
	}


	&__title {
		margin-bottom: 30px;
		@include mob {
			margin-bottom: 15px;
		}
	}

	.swiper {
		overflow: visible;
	}

	.swiper-pagination {
		margin-top: 10px;
	}
}
