@use "../helpers" as *;

.articles {
	position: relative;
	border-radius: var(--section-border-radius);
	padding-block: 80px;
	@include tablet-sm {
		padding-block: 60px;
	}
	@include mob {
		padding-block: 30px;
	}

	&::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		background-image: radial-gradient(circle at 100% 100%, #b1e7ff 0%, #fff 75%);
		border-radius: inherit;
		content: "";
	}

	&__wrap {
		position: relative;
		z-index: 1;
		overflow: hidden;
	}

	&__title {
		position: relative;
		z-index: 1;
		margin-bottom: 30px;
		@include mob {
			margin-bottom: 15px;
		}
	}

	.swiper {
		overflow: visible;
	}

	.swiper-pagination {
		margin-top: 10px;
	}
}
