@use "../helpers" as *;

.cards-d {
	padding-block: 175px 60px;
	color: #fff;
	background: url(assets/images/cards-b-bg-word.svg) center top / 100% no-repeat, url(assets/images/cards-d-bg.jpg) center top no-repeat;
	@include tablet {
		padding-top: 140px;
	}
	@include tablet-sm {
		padding-top: 12vw;
	}
	@include mob {
		padding-bottom: 30px;
	}

	&__title {
		margin-bottom: 145px;
		font-size: 32px;
		line-height: 1.15;
		text-align: center;
		@include laptop-sm {
			margin-bottom: 60px;
		}
		@include tablet {
			font-size: 28px;
		}
	}

	&__body {
		@include from(1025px) {
			display: flex;
			gap: 30px;
		}
	}

	&__text {
		flex: 1 0;
		line-height: 1.35;

		ul {
			padding-left: 10px;

			li {
				padding-left: 5px;

				+ li {
					margin-top: 10px;
				}

				&::marker {
					color: var(--color-gold);
					font-weight: 700;
					font-size: 1.25em;
					content: "+";
				}
			}
		}
	}

	&__grid {
		display: grid;
		gap: 10px;
		margin-top: 40px;
		@include from(769px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
