@use "../helpers" as *;

.cards-c {
	padding-block: 60px;
	@include mob {
		padding-block: 30px;
	}

	&__container {
		padding: 90px 40px 60px;
		background-color: #F0F0F0;
		border-radius: var(--section-border-radius);
		@include tablet {
			padding: 60px 20px;
		}
		@include mob {
			padding: 30px 0.75rem;
		}
	}

	&__block {

		+ .cards-c__block {
			margin-top: 40px;
			padding-top: 55px;
			border-top: 1px solid #7D7D7D;
		}
	}

	&__header {
		display: flex;
		flex-wrap: wrap;
		gap: 5px 30px;
		margin-bottom: 35px;
		@include tablet {
			gap: 10px;
		}
	}

	&__title {
		@include from(1025px) {
			flex: 1 0 calc(45% - 30px);
		}
	}

	&__chars {
		display: grid;
		gap: 15px;
		@include from(1025px) {
			flex: 1 0 calc(55% - 30px);
		}
	}

	&__c-item {
		display: flex;
		gap: 55px;
		@include mob {
			flex-direction: column;
			gap: 5px;
		}
	}

	&__c-name {
		flex-shrink: 0;
		font-size: 24px;
		font-family: var(--font-secondary), sans-serif;
		@include from(577px) {
			width: 110px;
		}
	}

	&__text {
		flex: 1 0 100%;

		:last-child {
			margin-bottom: 0;
		}
	}

	&__grid {
		display: grid;
		gap: 20px;

		&--2 {
			@include from(577px) {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&--3 {
			@include from(577px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@include from(1025px) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}
