@use "../helpers" as *;

.cards-d {
	position: relative;
	z-index: 1;
	overflow: hidden;
	color: #fff;
	background: url(assets/images/cards-d-bg.jpg) center top no-repeat;
	padding-block: 175px 60px;
	@include tablet {
		padding-top: 140px;
	}
	@include tablet-sm {
		padding-top: 12vw;
	}
	@include mob {
		padding-bottom: 30px;
	}

	&__word-bg {
		position: absolute;
		top: -10px;
		right: 0;
		left: 0;
		z-index: -1;
		color: rgba(#fff, 0.1);
		font-size: 310px;
		font-family: var(--font-secondary), sans-serif;
		line-height: 1;
		text-align: center;
		@include to(1600px) {
			top: -0.7vw;
			font-size: calc(100vw / 5.2);
		}
	}

	&__title {
		margin-bottom: 145px;
		font-size: 32px;
		line-height: 1.15;
		text-align: center;
		@include laptop-sm {
			margin-bottom: 60px;
		}
		@include tablet {
			font-size: 28px;
		}
	}

	&__body {
		@include from(1025px) {
			display: flex;
			gap: 30px;
		}
	}

	&__text {
		flex: 1 0;
		line-height: 1.35;

		ul {
			padding-left: 10px;

			li {
				padding-left: 5px;

				+ li {
					margin-top: 10px;
				}

				&::marker {
					color: var(--color-gold);
					font-weight: 700;
					font-size: 1.25em;
					content: "+";
				}
			}
		}
	}

	&__grid {
		display: grid;
		gap: 10px;
		margin-top: 40px;
		@include from(769px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
