@use "../helpers" as *;

.cta {
	padding-block: 60px;

	&__container {
		padding-inline: 40px;
		background-color: var(--color-white);
		border-radius: var(--section-border-radius);
		@include from(769px) {
			display: flex;
			gap: 30px;
			align-items: center;
		}
		@include laptop-sm {
			padding-inline: 0.75rem;
		}
	}

	&__body {
		padding-block: 60px;
		@include from(769px) {
			flex: 1 0 max-content;
		}
		@include tablet-sm {
			width: 100%;
			text-align: center;
		}
	}

	&__title {
		margin-bottom: 20px;
	}

	&__subtitle {
		margin-bottom: 50px;
		font-size: 20px;
		line-height: 1.3;
	}

	&__btn {
		color: #fff;
		background-color: var(--color-accent);
		@include tablet-sm {
			margin-inline: auto;
		}
	}

	&__img {
		margin-top: -15px;
		@include tablet-sm {
			display: none;
		}
	}
}
