@use "../helpers" as *;

.features {
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
	border-radius: var(--section-border-radius);
	padding-block: 90px 700px;
	@include to(1610px) {
		padding-bottom: 43vw;
	}
	@include tablet {
		padding-top: 60px;
	}
	@include tablet-sm {
		padding-bottom: 40vw;
	}
	@include mob {
		padding-top: 30px;
	}

	&__title {

		br {
			@include mob {
				display: none;
			}
		}
	}

	&__subtitle {
		margin-top: 20px;
		font-size: 24px;
		font-family: var(--font-secondary), sans-serif;
		line-height: 1.34;
		@include mob {
			font-size: 20px;
		}

		span {
			color: var(--color-gold);
			font-size: 48px;
			line-height: 1;
			@include mob {
				font-size: 30px;
			}
		}

		br {
			@include mob {
				display: none;
			}
		}
	}

	&__body {
		display: flex;
		gap: 30px;
		margin-top: 50px;
		@include tablet {
			flex-direction: column;
		}
		@include mob {
			margin-top: 30px;
		}
	}

	&__grid {
		display: flex;
		gap: 10px;
		@include tablet-sm {
			flex-wrap: wrap;
		}
	}

	&__item {
		flex: 1 0;
		padding: 15px 10px;
		color: var(--color-white);
		font-weight: 500;
		line-height: 1.25;
		background-color: var(--color-accent);
		border-radius: 10px;
	}

	&__text {
		font-size: 24px;
		font-family: var(--font-secondary), sans-serif;
		line-height: 1.34;
		@include from(1025px) {
			max-width: 330px;
			margin-left: auto;
		}
		@include mob {
			font-size: 20px;
		}
	}
}
