@use "../helpers" as *;

.features {
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
	border-radius: var(--section-border-radius);
	padding-block: 90px 200px;
	@include tablet {
		padding-top: 60px;
	}
	@include tablet-sm {
		padding-bottom: 40vw;
	}
	@include mob {
		padding-top: 30px;
	}

	&__title {

		br {
			@include mob {
				display: none;
			}
		}
	}

	&__subtitle {
		margin-top: 20px;
		font-size: 24px;
		font-family: var(--font-secondary), sans-serif;
		line-height: 1.34;
		@include mob {
			font-size: 20px;
		}

		span {
			color: var(--color-gold);
			font-size: 48px;
			line-height: 1;
			@include mob {
				font-size: 30px;
			}
		}

		br {
			@include mob {
				display: none;
			}
		}
	}

	&__body {
		display: flex;
		gap: 30px;
		margin-top: 50px;
		@include tablet-sm {
			flex-direction: column;
		}
		@include mob {
			margin-top: 30px;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
		max-width: 610px;
		counter-set: features;
		@include mob {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 10px;
		justify-content: space-between;
		padding: 15px 10px;
		color: var(--color-white);
		font-weight: 500;
		line-height: 1.25;
		background-color: var(--color-accent);
		border-radius: 10px;
		counter-increment: features;
		@include from(577px) {
			min-height: 120px;
		}

		&::before {
			color: var(--color-gold);
			content: counter(features, decimal-leading-zero);
		}

		&:nth-child(4) {
			@include from(577px) {
				grid-row: 2;
				grid-column: 2;
			}
		}

		&:nth-child(5) {
			@include from(577px) {
				grid-row: 3;
				grid-column: 3;
			}
		}
	}

	&__text {
		font-size: 24px;
		font-family: var(--font-secondary), sans-serif;
		line-height: 1.34;
		@include from(769px) {
			max-width: 275px;
			margin-left: auto;
		}
		@include from(1025px) {
			margin-right: 70px;
		}
		@include mob {
			font-size: 20px;
		}
	}
}
