@use "../helpers" as *;

.feedback {
	margin-block: 10px;
	padding-block: 80px;
	color: #fff;
	background: url(assets/images/feedback-bg.jpg) center top / cover;
	border-radius: var(--section-border-radius);
	@include laptop-sm {
		padding-block: 60px;
	}
	@include tablet-sm {
		padding-block: 30px;
	}

	&__container {
		display: grid;
		gap: 60px 50px;
		justify-content: space-between;
		@include from(1025px) {
			grid-template-columns: minmax(400px, 515px) minmax(400px, 695px);
			min-height: 480px;
		}
		@include tablet {
			gap: 20px;
		}
	}

	&__subtitle {
		margin-top: 15px;
		line-height: 1.3;
		@include from(577px) {
			font-size: 18px;
		}
		@include from(1025px) {
			font-size: 20px;
		}
	}

	&__form {
		display: grid;
		gap: 15px;
		align-items: center;
		align-self: end;
		@include from(577px) {
			grid-template-columns: repeat(2, 1fr);
		}

		.input:has(textarea),
		.input:has([name="position"]) {
			grid-column: 1 / -1;
		}
	}
}
