@use "../helpers" as *;

.footer {
	padding: 2px;
	color: #fff;
	background-color: #fff;
	border-radius: var(--section-border-radius);

	&__wrap {
		background-color: #000;
		background-image: url(assets/images/footer-bg.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		border-radius: inherit;
		padding-block: 95px 40px;
		@include laptop-sm {
			padding-top: 60px;
		}
		@include tablet-sm {
			padding-block: 30px;
		}
	}

	&__grid {
		display: grid;
		gap: 60px 50px;
		justify-content: space-between;
		@include from(1025px) {
			grid-template-columns: minmax(400px, 450px) minmax(400px, 695px);
		}
		@include tablet {
			gap: 20px;
		}
	}

	&__top {
		margin-bottom: 55px;
	}

	&__subtitle {
		margin-top: 15px;
		line-height: 1.3;
		@include from(577px) {
			font-size: 18px;
		}
		@include from(1025px) {
			font-size: 20px;
		}
	}

	&__form {
		display: grid;
		gap: 15px;
		align-items: center;
		@include from(577px) {
			grid-template-columns: repeat(2, 1fr);
		}

		.input:has(textarea) {
			grid-column: 1 / -1;
		}
	}

	&__logo-text {
		margin-top: 45px;
		color: #7D7D7D;
		line-height: 1.3;
		@include tablet {
			margin-top: 30px;
		}
	}

	&__nav {
		display: flex;
		gap: 200px;
		@include mob {
			gap: 60px;
		}
	}

	&__caption {
		margin-bottom: 8px;
		color: #9E9E9E;
		font-size: 12px;
	}

	&__nav-name {
		margin-bottom: 30px;
	}

	&__social {

		&:not(:has(.social)) {
			@include tablet {
				display: none;
			}
		}
	}

	&__contacts {
		display: flex;
		flex-wrap: wrap;
		gap: 50px 30px;
		@include tablet {
			row-gap: 20px;
		}
	}

	&__c-item {
		flex: 1 0 calc(100% / 3 - 30px);
		@include to(430px) {
			flex-basis: 100%;
		}

		&--address {
			flex-basis: 100%;
		}
	}

	&__text {
		font-weight: 700;
		font-size: 20px;
		text-decoration: none;

		&:is(a) {
			@include hover {
				color: var(--color-accent);
			}
		}

		&--email {
			color: var(--color-accent);
			@include hover {
				color: #fff;
			}
		}
	}

	&__bottom {
		display: flex;
		gap: 15px;
		align-items: center;
		justify-content: space-between;
		margin-top: 25px;
		color: #7D7D7D;
		font-size: 12px;
		@include to(430px) {
			flex-direction: column;
		}
	}

	&__policy {
		text-decoration: none;
		@include hover {
			color: var(--color-accent);
		}
	}
}
