@use "../helpers" as *;

.header {
	position: sticky;
	top: 15px;
	right: 0;
	left: 0;
	z-index: 5;
	min-width: 360px;
	margin-bottom: 30px;

	&__container {
		display: grid;
		grid-template-columns: 1fr auto;
		@include from(577px) {
			gap: 5px;
		}
		@include tablet {
			grid-template-columns: 1fr repeat(2, auto);
		}
		@include mob {
			overflow: hidden;
			background-color: var(--color-white);
			border-radius: 10px;
			padding-inline: 5px;
			box-shadow: 0 0 10px 0 rgba(#18A9E1, 0.5);
		}
	}

	&__col {
		display: flex;
		align-items: center;
		background-color: var(--color-white);
		@include from(577px) {
			border-radius: 10px;
			box-shadow: 0 0 10px 0 rgba(#18A9E1, 0.5);
		}
		@include mob {
			padding-inline: 0;
		}
	}

	&__main {
		padding-inline: 30px 15px;
		@include laptop {
			gap: 30px;
		}
		@include laptop-sm {
			padding-inline: 15px;
		}
		@include tablet {
			gap: 10px;
		}
	}

	&__l-img {
		display: block;
	}

	&__menu {
		flex: 1 0;
		@include from(1441px) {
			margin-inline: 85px 65px;
		}
	}

	&__search-btn {
		@include tablet {
			margin-left: auto;
		}
	}

	&__burger {
		@include from(1025px) {
			display: none;
		}
	}

	&__contacts {
		gap: 10px;
		padding: 10px 15px;
		@include mob {
			flex-direction: column;
			gap: 5px;
		}
	}

	&__tel {
		font-weight: 700;
		font-size: 14px;
		text-decoration: none;
	}

	&__social {
		flex-wrap: wrap;
		@include from(577px) {
			max-width: 50px;
		}
	}

	&__search-form {
		margin-top: 5px;
		padding: 5px;
		@include mob {
			padding-inline: 5px;
			border-radius: 10px;
		}
	}
}
