@use "../helpers" as *;

.hero {
	position: relative;
	z-index: 1;
	padding-block: 40px 120px;
	color: var(--color-white);
	background-color: var(--color-main);
	border-radius: var(--section-border-radius);
	@include tablet {
		padding-bottom: 60px;
	}
	@include mob {
		padding-block: 20px 30px;
	}

	+ .section--white {
		margin-top: -70px;
		padding-top: 160px;
		@include tablet {
			padding-top: 120px;
		}
		@include mob {
			padding-top: 100px;
		}
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 230px;
		background: linear-gradient(180deg, #000 0%, transparent 100%);
		content: "";
	}

	&__container {
		display: grid;
	}

	&__title {
		margin-top: 15px;
		overflow: hidden;
		font-size: 120px;
		@include laptop-sm {
			font-size: 80px;
		}
		@include mob {
			font-size: 60px;
		}
	}

	&__body {
		display: flex;
		gap: 20px;
		margin-top: 190px;
		@include from(577px) {
			border-bottom: 1px solid #7D7D7D;
		}
		@include laptop-sm {
			margin-top: 120px;
		}
		@include mob {
			margin-top: 40px;
		}
	}

	&__figure {
		flex-shrink: 0;
		padding-right: 20px;
		border-right: 1px solid #7D7D7D;
		@include from(1025px) {
			padding-bottom: 20px;
		}
		@include mob {
			display: none;
		}
	}

	&__img {
		display: block;
		border-radius: 10px;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: inherit;
		opacity: 0.3;
	}
}
