@use "../helpers" as *;

.news {
	padding-block: 70px;
	border-radius: var(--section-border-radius);
	@include tablet-sm {
		padding-block: 60px;
	}
	@include mob {
		padding-block: 30px;
	}

	+ .articles {
		margin-top: 0;
		padding-top: 80px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		padding-block: 80px;
		@include tablet {
			padding-block: 80px;
		}
		@include tablet-sm {
			padding-block: 60px;
		}
		@include mob {
			padding-block: 30px;
		}

		&::after {
			height: 200%;
		}
	}

	&:has(+ .articles) {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	&__container {
		position: relative;
		z-index: 1;
		display: grid;
		gap: 40px 70px;
		@include from(1025px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include laptop-sm {
			column-gap: 30px;
		}
	}

	&__title {
		@include mob {
			margin-bottom: -20px;
		}
	}
}
