@use "../helpers" as *;

.news {
	padding-block: 70px;
	border-radius: var(--section-border-radius);
	@include tablet-sm {
		padding-block: 60px;
	}
	@include mob {
		padding-block: 30px;
	}

	+ .articles {
		margin-top: 0;
		padding-top: 80px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		padding-block: 80px;
		@include tablet {
			padding-block: 80px;
		}
		@include tablet-sm {
			padding-block: 60px;
		}
		@include mob {
			padding-block: 30px;
		}

		&::after {
			height: 200%;
		}
	}

	&:has(+ .articles) {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	&__container {
		position: relative;
		z-index: 1;
		display: grid;
		gap: 40px 70px;
		@include from(1025px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include laptop-sm {
			column-gap: 30px;
		}
	}

	&__title {
		@include mob {
			margin-bottom: -20px;
		}
	}

	&__btn {
		display: flex;
		gap: 15px;
		justify-content: space-between;
		padding: 35px;
		font-size: 32px;
		font-family: var(--font-secondary), sans-serif;
		text-decoration: none;
		border: 1px solid var(--color-main);
		border-radius: 10px;
		transition: all 0.3s ease-in-out;
		@include from(1025px) {
			flex-direction: column;
			width: 340px;
			height: 340px;
		}
		@include tablet {
			align-items: center;
			width: max-content;
			margin-inline: auto;
			padding: 17px;
			font-size: 24px;
		}
		@include hover {
			color: var(--color-accent);
			border-color: var(--color-accent);

			.news__btn-icon {
				transform: translate(10px, 10px);
			}
		}
	}

	&__btn-icon {
		margin-left: auto;
		color: var(--color-accent);
		transition: inherit;
		@include tablet {
			width: 20px;
			height: 20px;
		}
	}
}
