@use "../helpers" as *;

.txt-v {
	padding-block: 90px;

	&:has(+ .section--white) {
		padding-bottom: 0;
	}

	&__title {
		margin-bottom: 30px;
		@include mob {
			margin-bottom: 15px;
		}
	}

	&__body {
		display: flex;
		gap: 185px;
		align-items: flex-start;
		@include laptop {
			gap: 60px;
		}
		@include tablet {
			flex-direction: column;
			gap: 15px;
		}
	}

	&__video {
		position: relative;
		display: grid;
		place-items: center;
		flex-shrink: 0;
		background-color: var(--color-main);
		border-radius: var(--section-border-radius);
		@include tablet {
			margin-inline: auto;
		}
		@include hover {

			.txt-v__btn {
				transform: scale(1.1);
			}
		}
	}

	&__img {
		display: block;
		border-radius: inherit;
		opacity: 0.5;
	}

	&__btn {
		position: absolute;
		display: grid;
		place-items: center;
		width: 86px;
		height: 86px;
		color: var(--color-white);
		background-color: var(--color-accent);
		border-radius: 100%;
		transition: transform 0.3s ease-in-out;
	}
}
