@use "../helpers" as *;

.btn {
	display: block;
	padding: 15px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	background: none;
	border: 1px solid var(--color-accent);
	border-radius: 10px;
	transition: border-color 0.3s ease-in-out;
	@include hover {
		border-color: var(--color-gold);
	}
}

.square-btn {
	display: grid;
	place-items: center;
	width: 40px;
	height: 40px;
	padding: 0;
	background: none;
	border: none;
}

.submit-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 70px;
	padding: 1px;
	font-size: 32px;
	font-family: var(--font-secondary), sans-serif;
	text-align: left;
	background-color: var(--color-white);
	border: none;
	border-radius: 10px;

	&__text {
		padding-inline: 25px;
	}

	&__icon {
		display: grid;
		flex-shrink: 0;
		width: 68px;
		height: 100%;
		min-height: inherit;
		color: #fff;
		background-color: var(--color-main);
		border-radius: inherit;
		place-items: center;
	}
}

.arrows {
	display: flex;
	gap: 10px;
}

.arrow {
	display: grid;
	place-items: center;
	width: 70px;
	height: 70px;
	color: #fff;
	background: none;
	border: 1px solid #7D7D7D;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
	@include hover {
		color: var(--color-accent);
		border-color: var(--color-gold);
	}
}

.catalog-btn {
	display: grid;
	padding: 20px 15px;
	color: var(--color-white);
	font-size: 32px;
	font-family: var(--font-secondary), sans-serif;
	line-height: 1;
	background-color: var(--color-accent);
	border: none;
	border-radius: 10px;
	@include from(577px) {
		text-align: left;
		background-image: url(assets/images/catalog-btn-bg.png);
		background-repeat: no-repeat;
		background-position: right top;
		aspect-ratio: 1 / 1;
	}
	@include mob {
		font-size: 28px;
	}

	&__text {
		margin-top: auto;
	}
}

.all-btn {
	display: flex;
	gap: 15px;
	justify-content: space-between;
	padding: 35px;
	font-size: 32px;
	font-family: var(--font-secondary), sans-serif;
	text-decoration: none;
	border: 1px solid var(--color-main);
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
	@include from(1025px) {
		flex-direction: column;
		width: 340px;
		height: 340px;
	}
	@include tablet {
		align-items: center;
		width: max-content;
		margin-inline: auto;
		padding: 17px;
		font-size: 24px;
	}
	@include hover {
		color: var(--color-accent);
		border-color: var(--color-accent);

		.all-btn__icon {
			transform: translate(10px, 10px);
		}
	}

	&__icon {
		margin-left: auto;
		color: var(--color-accent);
		transition: inherit;
		@include tablet {
			width: 20px;
			height: 20px;
		}
	}
}
