@use "../helpers" as *;

.input {
	display: block;
	width: 100%;
	min-height: 70px;
	padding: 10px 20px 15px;
	background-color: var(--color-main);
	border: 1px solid var(--color-main);
	border-radius: 10px;

	&:has(.input__field:focus) {
		border-color: var(--color-white);
	}

	&__text {
		display: block;
		margin-bottom: 5px;
		color: #7D7D7D;
		font-size: 12px;
		line-height: 1.2;
	}

	&__field {
		width: 100%;
		padding: 0;
		color: var(--color-white);
		font-size: 16px;
		background: none;
		border: none;
	}
}

.checkbox {
	display: flex;
	gap: 10px;
	color: #fff;
	font-size: 14px;

	a {
		color: var(--color-accent);
		@include hover {
			text-decoration: none;
		}
	}

	&__input {
		position: absolute;
		z-index: -1;
		opacity: 0;

		&:checked {

			+ .checkbox__switcher {
				justify-content: flex-end;
				background-color: var(--color-gold);
			}
		}
	}

	&__switcher {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		width: 28px;
		height: 15px;
		padding: 1px;
		background-color: var(--color-main);
		border-radius: 40px;

		&::after {
			width: 13px;
			height: 13px;
			background-color: #fff;
			border-radius: 100%;
			content: "";
		}
	}
}
