@use "../helpers" as *;

.input {
	width: 100%;
	height: 70px;
	padding: 10px 20px 15px;
	background-color: var(--color-main);
	border: 1px solid var(--color-main);
	border-radius: 10px;

	&:has(.input__field:focus) {
		border-color: var(--color-white);
	}

	&__text {
		display: block;
		margin-bottom: 5px;
		color: #7D7D7D;
		font-size: 12px;
		line-height: 1.2;
	}

	&__field {
		width: 100%;
		padding: 0;
		color: var(--color-white);
		font-size: 16px;
		background: none;
		border: none;
	}
}
